<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>EDIT BLOG</h3>
<p>
    <a th:href="@{/}">
        Back To Blog List
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/update}" th:object="${songDto}"
          method="post" novalidate="novalidate">
        <input type="text" th:field="*{id}">
        <div>
            <label>Blog Creator :</label>
            <input type="text" th:field="*{nameSong}">
            <p style="color: red" th:errors="*{nameSong}" th:if="${#fields.hasErrors('nameSong')}"> </p>
        </div>
        <div>
            <label>Blog Name :</label>
            <input type="text" th:field="*{singer}">
            <p style="color: red" th:errors="*{singer}" th:if="${#fields.hasErrors('nameSong')}"> </p>
        </div>
        <div>
            <label>Blog Creation Date :</label>
            <input type="text" th:field="*{category}">
            <p style="color: red" th:errors="*{category}" th:if="${#fields.hasErrors('nameSong')}"> </p>
        </div>
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>